body {
  background-image: url(/Images/background.jpg);
}
nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 20px;
}

.nav-link {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  justify-content: flex-start;
  align-items: flex-end;
  align-self: center;
  display: inline-block;
  transition: all 0.9s ease-in-out;
}

.Aboutus {
  margin-top: 37px;
  margin-left: 30px;
}

.Diet,
.Yoga {
  margin-top: 37px;
  margin-left: 50px;
}

.nav-link:hover {
  cursor: pointer;
  background-color: #93c572;
  transform: scale(1.2);
  color: black;
}
section {
  display: inline-block;
}

.About {
  margin-top: 1px;
  margin-left: 40px;
  max-width: 700px;
  width: 100%;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.02em;
  font-family: "Poppins", sans-serif;
  justify-self: center;
  align-self: center;
  color: black;
}

img {
  width: 400px;
  height: 60vh;
  object-fit: cover;
  animation: imgZoom 3.5s ease infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
}

img:hover {
  animation-play-state: paused;
}

@keyframes imgZoom {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(10deg);
  }
  100% {
    transform: scale(1.1) rotate(-10deg);
  }
}

.health {
  margin-top: 30px;
  margin: auto;
  max-width: 700.48px;
  width: 100%;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.02em;
  font-family: "Poppins", sans-serif;
  justify-self: center;
  align-self: center;
  color: black;
}
.Yogas {
  margin-top: 30px;
  margin: auto;
  max-width: 700.48px;
  width: 100%;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.02em;
  font-family: "Poppins", sans-serif;
  justify-self: center;
  align-self: center;
  color: black;
}
